@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark light;
}

@font-face {
  font-family: "KhmerMool1";
  src: url("./assets/fonts/KHMMOOL1.ttf");
}

::selection {
  @apply bg-green-500 text-white;
}
